body {
  background-color: #f4f6f8;
  font-family: 'Source Sans Pro';
  overflow-y: hidden;
}
 

.cm-editor {
  background-color: transparent;
}

.cm-activeLine {
  background-color: initial !important;
}

.cm-activeLineGutter {
  background-color: initial !important;
}

.cm-gutters {
  background-color: initial !important;
  color: #999;
  border: none !important;
}

.cm-focused {
  outline: none !important;
}

.cm-line {
  color: #1d7b78;
}

.ͼc {
  color: #1053a0;
}

.ͼd {
  color: #1053a0;
}
